---
// This is the script section where you can import components or define variables
---

<footer style="background-color: #333; color: #fff; padding: 1rem; text-align: center;">
    <p>&copy; {new Date().getFullYear()} Hexadic Group. All rights reserved.</p>
    <nav>
        <a href="/privacy-policy" style="color: #fff; margin: 0 1rem;">Privacy Policy</a>
        <a href="/terms-of-service" style="color: #fff; margin: 0 1rem;">Terms of Service</a>
        <a href="/contact" style="color: #fff; margin: 0 1rem;">Contact</a>
    </nav>
</footer>