---
// src/components/Logo.astro
const logoSrc = '/images/logo/logo_2915x3009.png'; // Update this path to your actual logo path
---

<a href="/"><img src={logoSrc} alt="Logo" class="w-32 sm:w-40 md:w-48 lg:w-56 xl:w-60 m-0" /></a>