---
const links = [
    { href: '/services', title: 'Services' },
    { href: '/dumpsters', title: 'Dumpster Rentals' },
    { href: '/projects', title: 'Project Portfolio' },
    { href: '/cost-calculator', title: 'Cost Calculator' },
    { href: '/team', title: 'Our Team' },
    { href: '/contact', title:'Contact' }

];
---

<nav class="flex justify-evenly items-end h-full">
    
    {links.map(link => (
        <a href={link.href} class="p-4 uppercase font-raleway text-sm hover:text-primary" title={link.title}>{link.title}</a>
                    ))}
    
</nav>