---
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Home Renovations and Rentals in Spartanburg">
    <meta name="keywords" content="Dumpster, dumpsters, dumpster rental, dumpsters rental, dumpster rental, in Spartanburg, Spartanburg, home remodeling, home renovation, Greenville, in Greenville, Greer, in Greer, ">

    <meta name="author" content="HexadicGroup - A. Harvey">

    <title>Joe The Guy - When You Need a Guy</title>
    <link rel="icon" type="image/svg+xml" href="images/favicon/hardhat.svg" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.JoeTheGuy.com/">
    <meta property="og:title" content="Joe The Guy - When You Need a Guy">
    <meta property="og:description" content="Home Renovations and Rentals in Spartanburg SC">
    <meta property="og:site_name" content="Joe The Guy">
    <meta property="og:locale" content="en_US">
    
    <!-- OG:Image -->
    <meta property="og:image" content="images/logo/logo_1200x630.png">
    <meta property="og:image:type" content="png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.JoeTheGuy.com/">
    <meta property="twitter:title" content="Joe The Guy - When You Need a Guy">
    <meta property="twitter:description" content="Home Renovations and Rentals in Spartanburg SC">
    <meta property="twitter:image" content="images/logo/logo_1200x630.png">
</head>