---
import CarouselOverlay from "./CarouselOverlay.astro"

// Server-side rendering
const images = [
  { src: '/images/carousel/image_01.jpg', alt: 'Image 1', caption: 'Caption for Image 1' },
  { src: '/images/carousel/image_02.jpg', alt: 'Image 2', caption: 'Caption for Image 2' },
  { src: '/images/carousel/image_03.jpg', alt: 'Image 3', caption: 'Caption for Image 3' }
]
---

<div class="carousel">
    <div class="carousel-track" id="carousel-track">
      <div class="slide">
        <img src="/images/carousel/image_01.jpg" alt="Image 1">
        <CarouselOverlay width="30%" topComment="Home Improvement and Remodeling" bottomComment="With over 15 years experience and a real focus on customer satisfaction, you can rely on us for your next renovation, remodeling or home repair in Spartanburg, Greenville or any of our Upstate communities." />
      </div>
      <div class="slide">
        <img data-src="/images/carousel/image_02.jpg" alt="Image 2">
        <CarouselOverlay width="30%" topComment="Professional Tile work and Painting" bottomComment="We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors in Spartanburg, Greenville or any of our Upstate communities." />
      </div>
      <div class="slide">
        <img data-src="/images/carousel/image_03.jpg" alt="Image 3">
        <CarouselOverlay width="30%" topComment="High Quality Work at Affordable Prices" bottomComment="We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget. If you're in Spartanburg, Greenville, or anywhere in the Upstate, Joe's your Guy!" />
      </div>
    </div>
    <button class="prev h-16 hover:bg-primary hover:bg-opacity-50" id="prev">&lt;</button>
    <button class="next h-16 hover:bg-primary hover:bg-opacity-50" id="next">&gt;</button>
  </div>
  

<style>
    .carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  display: flex-column;
  left:100px;
  top: 50px;
  bottom: 50px;
  width: 30%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
}

.top-overlay {
  position: relative;
  border-bottom: 4px solid white;
  
  color: white;
  text-align: center;
  padding: 10px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }


</style>
<script src="../scripts/carousel.ts">
</script>