---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <!-- <link rel="stylesheet" href="/style/style.css"> -->
    <style>
        body {
            background-color: #F4BC16;
            color: #FFF;
            font-family: 'Lato', sans-serif;
            text-align: center;
            padding: 50px;
        }
        .logo {
            margin-bottom: 50px;
        }
        .coming-soon {
            font-size: 50px;
            font-weight: 900;
            margin-bottom: 20px;
        }
        .notify-me {
            font-size: 27px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .highlight {
            font-size: 20px;
            line-height: 37px;
            padding: 0 20px 3px 20px;
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="/images/logo/logo_1200x630.png" alt="Logo">
    </div>
    <div class="coming-soon">Coming Soon</div>
    <div class="notify-me">Notify Me</div>
    <div class="highlight">Stay tuned for something amazing!</div>
</body>
</html>