---
import Carousel from '../components/Carousel.astro';
import ImageOverlay from '../components/ImageOverlay.astro';
import MainLayout from '../layouts/MainLayout.astro';

const keywords = ["Dumpster", "dumpsters", "dumpster", "dumpsters rental", "dumpster rental", "in Spartanburg", "Spartanburg", "home remodeling", "home", "Greenville", "in Greenville", "Greer", "in Greer", "Inman", "in Inman", "Boiling Springs", "in Boiling Springs", "Roebuck", "in Roebuck","home renovation", "renovations", "home renovation", "home remodeling", "remodeling", "home repair", "repairman", "repair man", ];
---


<MainLayout title="Joe The Guy | When You Need a Guy", keywords={keywords}>
	
		<!-- <Slider /> -->
		<Carousel class="w-full h-auto" />
		<!--  Services -->
		<div class="mt-8 w-full h-auto font-raleway bg-secondary-light items-center">
			<h1 class="px-8 pt-8 pb-4 text-3xl uppercase text-black text-center font-semibold">Our Services</h1>
			<h2 class="mx-60 text-center text-lg text-black">
				<div class="mx-auto w-24 h-[1.5px] bg-primary mb-8"><!-- Horizontal line --></div>
				With over 15 years experience in Spartanburg, Greenville and our Upstate communities if you <span class="text-primary font-bold">need a guy</span> for your renovation, remodel or home repair, <span class="text-primary"><a href="#" class="font-bold">Call Joe the Guy!</a></span> We offer a wide range of services to meet your needs. We are a full-service contractor providing quality service to residential and commercial clients.
			</h2>
			<div class="mx-32 mt-12 flex bg-white">
				<div class="w-1/3 flex-col">
					<a href="#">
						<img src="/images/services/interior_renovation.jpg" alt="Interior Renovation" class="w-full h-auto"/>
						<h3 class="text-2xl text-center font-semibold text-primary uppercase p-2">Interior Renovation</h3>
						<p class="text-center p-2">We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
				</a>
				</div>
				<div class="w-1/3">
					<img src="/images/services/interior_renovation.jpg" alt="Interior Renovation" class="w-full h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Exterior Renovation</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>
				<div class="w-1/3">
					<img src="/images/services/interior_renovation.jpg" alt="Interior Renovation" class="w-full h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Home Repair</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>

			</div>
			<div class="flex justify-center align-middle">
			<button class="mx-auto my-8 bg-primary uppercase text-white font-semibold text-sm px-8 py-2 rounded-2xl hover:bg-accent1 hover:text-white">View All Services</button>
			</div>
			
		</div> 

		<!-- Recent Projects -->
		<div class="mt-8 w-full h-auto font-raleway bg-white items-center">
			<h1 class="px-8 pt-8 pb-4 text-3xl uppercase text-black text-center font-semibold">Recent Projects</h1>
			<div class="mx-auto w-24 h-[1.5px] bg-primary mb-8"><!-- Horizontal line --></div> 
			<h2 class="mx-60 text-center text-lg text-black">Here are a few of many projects we have completed for our customers. We provide a professional service
				which includes consultation, free estimate, design, supply of materials and installation.</h2>
			<div class="mx-32 mt-12 flex bg-white">
				<div class="w-1/4 relative">
					<ImageOverlay src="/images/services/interior_renovation.jpg" overlayText="Interior Renovation" overlayButtonText="View Projects"/>
					<!-- <a href="#">
						<img src="/images/services/interior_renovation.jpg" alt="Interior Renovation" class="absolute inset-0 bg-cover bg-center z-0"/>
						<div class="flex opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 justify-center items-center text-2xl text-white font-semibold">Dwayne</div>
						<h3 class="text-2xl text-center font-semibold text-primary uppercase p-2">Interior Renovation</h3>
						<p class="text-center p-2">We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
				</a> -->
				</div>
				<div class="w-1/4 flex-col">
					<img src="/images/services/interior_renovation.jpg" alt="Interior Renovation" class="w-full h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Exterior Renovation</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>
				<div class="w-1/4 flex-col">
					<img src="/images/services/interior_renovation.jpg" alt="Interior Renovation" class="w-full h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Home Repair</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>
				<div class="w-1/4 flex-col">
					<img src="/images/services/interior_renovation.jpg" alt="Interior Renovation" class="w-full h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Home Repair</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>

			</div>
			<div class="flex justify-center items-center bg-secondary-light">
				<h2 class=" text-2xl uppercase text-black text-center font-semibold">Explore our projects</h2>
			<a href="projects" class="bg-primary uppercase text-white font-semibold text-sm p-2 m-8 rounded-2xl hover:bg-accent1 hover:text-white">View Projects</button>
			</div>
		</div>

		<!-- About Us -->
		<div>
			<div class="w-full h-auto font-raleway bg-white items-center">
				<h1 class="px-8 pt-8 pb-4 text-3xl uppercase text-black text-center font-semibold">About Us</h1>
				<div class="mx-auto w-24 h-[1.5px] bg-primary mb-8"><!-- Horizontal line --></div>
				<div class="mx-60 text-center text-lg text-black">
					<p>Joe The Guy has been serving the Upstate communities for over 15 years. Our mission is to provide top-notch renovation, remodel, and home repair services to both residential and commercial clients. We pride ourselves on our quality workmanship, superior knowledge, and competitive prices.</p>
					<p class="mt-4">Our team is dedicated to ensuring that every project is completed on time and within budget. We believe in building lasting relationships with our clients through trust, integrity, and exceptional service.</p>
				</div>
				<div class="flex justify-center align-middle">
					<button class="mx-auto my-8 bg-primary uppercase text-white font-semibold text-sm px-8 py-2 rounded-2xl hover:bg-accent1 hover:text-white">Learn More</button>
				</div>
			</div>
		</div>
		
	
</MainLayout>

<!-- <style>
	main {
		margin: auto;
		padding: 0;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style> -->
